// 样式重置文件
html,body,div,span,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,input,
button,textarea,select,form,label,a,i,em,strong,audio,video,
table,thead,tbody,caption,tr,th,td,canvas
article,aside,footer,header,menu,nav,section
  margin: 0
  padding: 0
  outline: none
  border: none
  font-weight: normal

html
  font-size: 10px
  -webkit-tap-highlight-color: transparent
  -webkit-text-size-adjust: 100%

body
  font-size: 1.4rem
  color: #605f5f
  font-family: akkurat, sans-serif
  background-color: #f5f7fc
  -webkit-font-smoothing: antialiased
  -webkit-text-size-adjust: none

/* HTML5 display-role reset for older browsers */
article, aside, footer, header, menu, nav, section
  display: block

audio, video, canvas
  display: inline-block

table
  border-collapse: collapse
  border-spacing: 0

i, em
  font-style: normal

a
  color: #ada9a5
  text-decoration: none

a:hover
  color: #d1434a

ul, li
  list-style: none

input
  font: normal
  box-sizing: border-box 
  border: none

input:focus, a:focus
  outline: none

textarea
  resize: none
  border: none
  overflow: auto
  box-sizing: border-box