// 通用变量文件

$imgUrl = '../assets/images/'  // 组件引用图片的基础路径

// 常规字体大小设置
$fontA =    32px  
$fontB =    28px  
$fontC =    26px
$fontD =    24px
$fontE =    22px
$fontF =    20px  
$fontG =    18px  
$fontH =    16px  
$fontI =    14px  
$fontJ =    12px

// 常规配色设置
$colorA =  #d1434a  
$colorB =  #ee7a23
$colorC =  #ffe5e6  
$colorD =  #605f5f
$colorE =  #333333
$colorF =  #999999 
$colorG =  #ffffff  
$colorH =  #cccccc
$colorI =  #61b1ef
$colorJ =  #f5f7fc
$colorK =  #ada9a5